    <!-- Content Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading text-left">Bitshares</h1>
                    <p class="lead section-lead">"BitShares: The Future of Banking"</p>
                    <p class="section-paragraph">Bitshares is a Decentralized Autonomous Corporation that allows you to trade, sell or buy virtual assets that track the value of real-world items such as currencies (USD,EUR++)  and physical assets (gold, silver++)</p>
                    <p>Bitshares uses a novel technology called Delegated Proof of Stake to secure the network without the wasteful mining inherent in Bitcoin and it's many clones. This delivers Bitshares from the heavy tax on the system imposed by miners, making Bitshares the first inherently profitable cryptocurrency.
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading text-left">Links</h1>
                    <p class="lead section-lead">Official resources</p>
                    <p class="section-paragraph"><a href="http://bytemaster.bitshares.org?r=bitsharesblocks" target="_blank">Bytemaster's Blog</a> :  The official blog of Bytemaster, creator of Bitshares. This is a great source for more information about Bitshares</p>
                    <p class="section-paragraph"><a href="http://bitshares.org?r=bitsharesblocks" target="_blank">Bitshares.org</a> : The official Bitshares website</p>
                    <p class="section-paragraph"><a href="http://www.bitsharestalk.org?r=bitsharesblocks" target="_blank">Bitsharestalk.org</a> :  The official Bitshares forum</p>
                    <p class="section-paragraph"><a href="https://github.com/BitShares/bitshares/" target="_blank">Bitshares Github</a> : The official Bitshares github repo</p>
                    <p class="lead section-lead">Community sites</p>
                    <p class="section-paragraph"><a href="http://bitshares.tv?r=bitsharesblocks" target="_blank">Bitshares.tv</a> : Bitshares TV - Hosted by Max Wright</p>
                    <p class="section-paragraph"><a href="http://wiki.bitshares.org/index.php/Main_Page?r=bitsharesblocks" target="_blank">The Bitshares Wiki</a> : The number one place to start learning about the Bitshares Universe!</p>
                    <p class="section-paragraph"><a href="http://beyondbitcoinx.net/" target="_blank">BeyondBitcoinX.net</a> : Bitshares Mumble server, Dev Hangouts, Delegates Info and more</p>
                    <p class="section-paragraph"><a href="http://www.aboutbts.com/" target="_blank">aboutBTS</a> : Great site for news about Bitshares as well as video tutorials</p>
                    <p class="section-paragraph"><a href="http://cryptofresh.com/" target="_blank">Crypto Fresh</a> : Online store where you can buy things with Bitshares</p>

                    <p class="section-paragraph"><a href="http://www.bitsharesmarket.com/" target="_blank">Bitshares Market</a> : Directory of Distributed Autonomous Companies in the BitShares Marketplace</p>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading text-left">About me</h1>
                    <p class="lead section-lead">Bitshares fanatic with a passion for development</p>
                    <p>I'm a young engineer who's passionate about cryptocurreny in general and Bitshares in particular. On bitsharestalk my username is <strong>svk</strong>. You can also find me on github at:

                    <ul>
                    <li><a href="https://github.com/svk31" target="_blank">https://github.com/svk31</a></li>
                    </ul>
                    </p>
                    <p>
                        To support this site, please vote for my delegate:
                        <ul>
                           <li><a href="bts:dev.bitsharesblocks/approve">dev.bitsharesblocks</a></li>
                       </ul>
                   </p>
                   <p>I also accept donations to this account: <a href="bts:donations.bitsharesblocks/transfer">donations.bitsharesblocks</a></p>
                   <p>Questions, comments, suggestions, criticism and other feedback gladly accepted here: <a href="mailto:bitsharesblocks@gmail.com">bitsharesblocks@gmail.com</a></p>
               </div>
               <p>

               </p>
           </div>
       </div>


   </section>
