<div class="input-group filters form-group col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
  <form ng-submit="submitAccount(query)">
    <input type="text" class="form-control" ng-model="query" data-min-length="0" ng-options="account.name for account in accountNames" placeholder="{{ 'accounts.search1' | translate }}" bs-typeahead analytics-on analytics-event="Account search" analytics-category="Search" analytics-label="Account" >
  </form>
  <div id="alerts-container"></div>
</div>


<div id="blockstable" class="col-md-10 col-md-offset-1">
  <div class="input-group">
    <form ng-submit="setOverview(lastBlock)">
      <input  class="form-control" type="text" ng-model="lastBlock" placeholder="{{ 'accounts.search2' | translate }}" analytics-on analytics-event="Account search" analytics-category="Search" analytics-label="Account search">
    </form>
  </div>
  <pagination ng-change="changePage()" total-items="accountsCount" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="pageCount" next-text="{{ 'accounts.older' | translate }}" previous-text="{{ 'accounts.newer' | translate }}" first-text="{{ 'accounts.recent' | translate }}" last-text="{{ 'accounts.oldest' | translate }}" num-pages="numPages" style="margin-bottom:0; margin-top:10px;"></pagination>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'accounts.title' | translate }}</h3>
    </div>
    <div>
      <table  class="table table-condensed table-hover table-bordered" style="margin-bottom:0;">
        <thead>
          <tr>
            <th>{{ 'accounts.name' | translate }}</th>
            <th>{{ 'accounts.id' | translate }}</th>
            <th>{{ 'accounts.reg' | translate }}</th>
            <th class="hidden-xs">{{ 'accounts.update' | translate }}</th>
            <th> {{ 'accounts.wall' | translate }} </th>
            <th>{{ 'blocks.delegate' | translate }}</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="account in accounts track by $index" class="repeated-item">
            <td><a ui-sref="account({ 'name' : account.name })" >{{account.name}}</a></td>
            <td>{{account._id}}</td>
            <td>{{account.registration_date | date:'medium'}}</td>
            <td class="hidden-xs">{{account.last_update | date:'medium'}}</td>
            <td><span ng-repeat="value in account.burnArray"><p style="margin:0;padding:0;"><span ng-if="value.asset=='BTC' || value.asset=='GOLD'">{{value.amount | number:6}}</span><span ng-if="value.asset!=='BTC' && value.asset!=='GOLD'">{{value.amount | number:2}}</span> <span ng-if="value.asset==='BTS'"> {{ value.asset }}</span> <a ng-if="value.asset!=='BTS'" ui-sref="asset({ 'id' : value.asset})">{{value.asset}}</a></p></span></td>
            <td class="success" ng-if="account.isDelegate===true">{{'accounts.yes' | translate}}</td>
            <td ng-if="account.isDelegate===false">{{'accounts.no' | translate}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <pagination ng-change="changePage()" total-items="accountsCount" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="pageCount" next-text="{{ 'accounts.older' | translate }}" previous-text="{{ 'accounts.newer' | translate }}" first-text="{{ 'accounts.recent' | translate }}" last-text="{{ 'accounts.oldest' | translate }}" num-pages="numPages" style="margin-bottom:0; margin-top:10px;"></pagination>
</div>


