<div class="col-md-10 col-md-offset-1 col-xs-12" id="alerts-container-indexing" style="padding-top:0;">
</div>
<div style="clear:both;" class="input-group filters col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
  <div class="col-md-6">
    <form ng-submit="goTo(findBlock)">
      <input class="form-control" type="text" ng-model="findBlock" placeholder="{{search1}}" analytics-on analytics-event="Block/trx search" analytics-category="Search" analytics-label="Block/trx search">
    </form>
    <div id="alerts-container"></div>
  </div>
</div>
<div id="blockstable" class="col-md-10 col-md-offset-1">
  <pagination ng-change="toggleTrx()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="blockCount" next-text="{{'blocks.lower' | translate}}" previous-text="{{'blocks.higher' | translate}}" first-text="{{'blocks.current' | translate}}" last-text="{{'blocks.first' | translate}}" num-pages="numPages" style="margin-bottom:0; margin-top:10px;"></pagination>
  <div style="display:inline-block;" class="input-group col-sm-3 col-xs-12">
    <form ng-submit="setOverview(lastBlock)">
      <input ng-model="lastBlock" class="form-control" type="text" placeholder="{{search2}}" analytics-on analytics-event="Block/trx search" analytics-category="Search" analytics-label="Block/trx search">
    </form>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 style="display: inline-block;" class="panel-title">{{last}} {{ blockCount }} {{ blocksText }}</h3>
      <button style="padding: 0; float: right; display: inline-block; border-color:rgba(226, 226, 226, 0);" type="button" class="btn btn-default" placement="bottom" ng-model="selectedTypes" data-html="1" data-multiple="1" ng-options="unit.type as unit.name for unit in types" placeholder="{{placeholder}}" bs-select>
      Action <span class="caret"></span>
      </button>
    </div>
    <div>
      <table  class="table table-condensed table-hover table-bordered" style="margin-bottom:0;">
        <thead>
          <tr>
            <th translate>blocks.blockNum</th>
            <th translate class="hidden-xs">blocks.timestamp</th>
            <th translate>blocks.delegate</th>
            <th translate class="hidden-xs">blocks.trxCount</th>
            <th translate>blocks.trxValue</th>
            <th translate>blocks.types</th>
            <th translate class="hidden-xs">blocks.fees</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="block in blocks track by block._id" class="repeated-item">
            <td><a ui-sref="block({ 'id' : block._id })" >{{block._id | number:0}}</a></td>
            <td class="hidden-xs">{{block.timestamp | date:'medium'}}</td>
            <td><a ui-sref="delegate.info({ 'name' : block.signee })" >{{block.signee}}</a></td>
            <td class="hidden-xs">{{block.trxLength}}</td>
            <!-- <td>{{block.transactions.totalvalue | number:2}} BTS</td> -->
            <td ng-if="block.trxLength>0"><span ng-repeat="value in block.totalValue"><p style="margin:0;padding:0;"><span ng-if="value.asset.indexOf('BTC') !== -1 || value.asset=='GOLD'">{{value.value | number:6}}</span><span ng-if="value.asset.indexOf('BTC') === -1 && value.asset!=='GOLD'">{{value.value | number:2}}</span> <span ng-if="value.asset==='BTS'">BTS</span> <a ng-if="value.asset!=='BTS'" ui-sref="asset.orderbook({ 'asset' : value.asset})">{{value.asset}}</a></p></span></td>
            <td ng-if="block.trxLength===0">0</td>
            <td><span ng-if="block.trxLength > 0" ng-repeat="type in block.uniqueTypes"><p style="margin:0;padding:0;">{{ trxTypes[type.type] }} ({{ type.count }})</p> </span><span ng-if="block.trxLength === 0">0</span></td>
            <td ng-if="block.trxLength>0" class="hidden-xs"><span ng-repeat="fee in block.formFees"><p style="margin:0;padding:0;" ng-if="fee.price!==0"><span ng-if="fee.asset=='BTC' || fee.asset=='GOLD'">{{fee.price | number:6}}</span><span ng-if="fee.asset!=='BTC' && fee.asset!=='GOLD'">{{fee.price | number:2}}</span> <span ng-if="fee.asset==='BTS'">BTS</span> <a ng-if="fee.asset!=='BTS'" ui-sref="asset.orderbook({ 'asset' : fee.asset})">{{fee.asset}}</a></p></span></td>
            <td ng-if="block.trxLength===0" class="hidden-xs">0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <pagination ng-change="toggleTrx()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="blockCount" next-text="{{'blocks.lower' | translate}}" previous-text="{{'blocks.higher' | translate}}" first-text="{{'blocks.current' | translate}}" last-text="{{'blocks.first' | translate}}" num-pages="numPages" style="margin-top:0"></pagination>
</div>