
<h1>{{ 'block.block' | translate }} # {{blk.block_num}}</h1>
<div class="container" id="next-block">
	<a ng-if="blk.block_num>1" href="" ng-click="clickNext(blk.block_num-1)"><span class="glyphicon glyphicon-arrow-left"></span> {{ 'block.previous' | translate }}</a>	
	<a href="" ng-click="clickNext(blk.block_num+1)">{{ 'block.next' | translate }}<span class="glyphicon glyphicon-arrow-right"></span></a>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'block.details.title' | translate }}</h3>
		</div>
		<ul class="list-group">
			<li class="clearfix list-group-item">{{ 'blocks.timestamp' | translate }}:<span class="badge">{{blk.timestamp | date:'medium'}}</span></li>
			<li class="clearfix list-group-item">{{ 'block.details.signee' | translate }}:<span style="float:right;"><a ui-sref="delegate.info({ 'name' : blk.signee })">{{blk.signee}}</a></span></li>
			<li class="clearfix list-group-item">{{ 'block.details.shares' | translate }}:<span class="badge">{{blk.signee_shares_issued / 100000}} BTS</span></li>
			<li class="clearfix list-group-item">{{ 'block.details.collected' | translate }}:<span class="badge">{{blk.signee_fees_collected / 100000}} BTS</span></li>
			<li class="clearfix list-group-item">{{ 'block.details.destroyed' | translate }}:<span class="badge">{{blk.signee_fees_destroyed / 100000}} BTS</a></span></li>
			<li class="clearfix list-group-item">{{ 'blocks.trxCount' | translate }}:<span class="badge">{{ nrTrx }}</span></li>
		</ul>
	</div>
</div>
<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'block.details.title' | translate }}</h3>
		</div>
		<ul class="list-group">
			<li class="clearfix list-group-item">{{ 'block.details.size' | translate }}:<span class="badge">{{blk.block_size}} bytes</span></li>
			<li ng-if="blk.latency/1000000<1000" class="clearfix list-group-item">Latency:<span class="badge">{{blk.latency/1000000 | number:2}}s</span></li>
			<li class="clearfix list-group-item">{{ 'block.details.time' | translate }}:<span class="badge">{{blk.processing_time /1000000}}</span></li>
			<li class="clearfix list-group-item hidden-xs">{{ 'block.details.hash1' | translate }}:<span class="badge">{{blk.previous}}</span></li>
			<li class="clearfix list-group-item hidden-xs">{{ 'block.details.hash2' | translate }}:<span class="badge">{{blk.next_secret_hash}}</span></li>
			<li class="clearfix list-group-item hidden-xs">{{ 'block.details.hash3' | translate }}:<span class="badge">{{blk.previous_secret}}</span></li>
		</ul>
	</div>
</div>

<div class="col-md-12 transactiondiv" ng-repeat="transaction in trx track by $index">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'block.trx.title' | translate }} #{{blk.block_num+'.'+($index+1)}}</h3>
		</div>
		<div class="col-md-4" style="padding-left:0;margin-bottom:20px">
			<li class="clearfix list-group-item" >{{ 'block.trx.id' | translate }}:<span class="badge">{{ trxInfo[$index].id }}</span></li>
			<li class="clearfix list-group-item" >{{ 'blocks.trxValue' | translate }}:<span style="float:right;clear:right;" ng-repeat="value in values[$index]"><p style="margin:0;padding:0;" ng-if="value.amount!==0"><span ng-if="value.asset=='BTC' || value.asset=='GOLD'">{{value.amount | number:6}}</span><span ng-if="value.asset!=='BTC' && value.asset!=='GOLD'">{{value.amount | number:3}}</span> <span ng-if="value.asset==='BTS'">BTS</span> <a ng-if="value.asset!=='BTS'" ui-sref="asset.orderbook({ 'asset' : value.asset})">{{value.asset}}</a></p></span></li>
			<li class="clearfix list-group-item" >{{ 'block.trx.fee' | translate }}:<span style="float:right;clear:right;" ng-repeat="fee in fees[$index]"><p style="margin:0;padding:0;" ng-if="fee.price!==0"><span ng-if="fee.asset=='BTC' || fee.asset=='GOLD'">{{fee.price | number:6}}</span><span ng-if="fee.asset!=='BTC' && fee.asset!=='GOLD'">{{fee.price | number:3}}</span> <span ng-if="fee.asset==='BTS'">BTS</span> <a ng-if="fee.asset!=='BTS'" ui-sref="asset.orderbook({ 'asset' : fee.asset})">{{fee.asset}}</a></p></span></li>
			<li ng-if="trxInfo[$index].delegate" class="clearfix list-group-item" >{{ 'block.trx.delegate' | translate }}:<span style="float:right;"><a ui-sref="delegate.info({ 'name' : trxInfo[$index].delegate })">{{trxInfo[$index].delegate}}</a></span></li>
			<li ng-if="issuerName[$index]" class="clearfix list-group-item" >{{ 'block.trx.issuer' | translate }}:<span ng-if="issuerName[$index] !== 'MARKET'"style="float:right;"><a ui-sref="account({ 'name' : issuerName[$index] })" >{{issuerName[$index]}}</a></span><span ng-if="issuerName[$index] === 'MARKET'">{{issuerName[$index]}}</span></li>
			<li ng-if="trxInfo[$index].slate" class="clearfix list-group-item hidden-xs">{{ 'block.trx.slateID' | translate }}:<span class="badge">{{trxInfo[$index].slate | number:0}}</span></li>
			<div class="panel panel-default">
				<li class="clearfix list-group-item"><strong>{{ 'block.trx.votes' | translate }}: {{votes[$index].length || 0}}</strong><span ng-if="votes[$index].length>0" id="dropdown" ng-click="status.open[$index]= !status.open[$index]"><i class="pull-right glyphicon clickable" ng-class="{'glyphicon-chevron-down': status.open[$index], 'glyphicon-chevron-right': !status.open[$index]}"></i></span></li>
				<table class="table table-condensed table-striped transactiontable" style="margin-bottom:0;">
					<thead >
						<tr ng-if="status.open[$index]">
							<th ng-click="sort('amount')" class="sortable hidden-xs"><ng-sort-arrows order-string="amount" reverse-sort="{{reverseSort}}" order-by-field="{{orderByField}}"></ng-sort-arrows>{{ 'block.trx.amount' | translate }}:</th>
							<th ng-if="transaction.length !== undefined" ng-click="sort('delegate')" class="sortable hidden-xs"><ng-sort-arrows order-string="delegate" reverse-sort="{{reverseSort}}" order-by-field="{{orderByField}}"></ng-sort-arrows>{{ 'block.trx.for' | translate }}:</th>
						</tr>
					</thead>
					<tbody ng-if="status.open[$index] || (transaction.length===undefined)">
						<tr ng-repeat="vote in votes[$parent.$index] | orderBy: orderByField:reverseSort track by $index">
							<td ng-if="vote !=='None'">{{(vote.amount)  | number:3}}: </td>
							<td ng-if="vote ==='None'">{{ 'block.trx.noVotes' | translate }} </td>
							<td ng-if="vote!=='None'"><a ui-sref="delegate.votes({ 'name' : vote.delegate })">{{ vote.delegate }}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-8 panel panel-default" style="padding-left:0;padding-right:0;">
			<table class="table table-condensed table-striped transactiontable" style="margin-bottom:0; ">
				<thead >
					<tr>
						<th>#</th>
						<th>{{ 'block.trx.type' | translate }}</th>
						<th ng-if="trxInfo[$index].public_data">{{ 'block.trx.public' | translate }}</th>
						<th ng-if="trxInfo[$index].ratio">{{ 'block.trx.price' | translate }}</th>
						<th ng-if="trxInfo[$index].cover">{{ 'asset.covers.price' | translate }}</th>
						<th ng-if="trxInfo[$index].interest">{{ 'block.trx.interest' | translate }}</th>
						<th ng-if="trxInfo[$index].ratio">{{ 'asset.assetInfo.base' | translate }}</th>
						<th ng-if="trxInfo[$index].name">{{ 'accounts.name' | translate }}</th>
						<th>{{ 'block.trx.asset' | translate }}</th>			
						<th ng-if="trxInfo[$index].burn">{{ 'block.trx.message' | translate }}</th>			
						<th ng-if="trxInfo[$index].balance">{{ 'genesis.address' | translate }}</th>
						<th>{{ 'block.trx.amount' | translate }}</th>
					</tr>
				</thead>
				<tbody> 

					<tr ng-repeat="op in trxInfo[$index].ops track by $index">	
						<td>{{$index}}</td>
						<td><span ng-if="trxTypes[op.type]">{{ trxTypes[op.type] }}</span> <span ng-if="!trxTypes[op.type]">{{op.type}}</span></td>
						<td ng-if="trxInfo[$parent.$index].public_data"><pre ng-if="op.public_data">{{op.public_data| json }}</pre></td>
						<td ng-if="trxInfo[$parent.$index].ratio"><span ng-if="op.ratio === 'block.trx.feedPrice'">{{op.ratio | translate }}</span><span ng-if="op.ratio >=0">{{op.ratio | number:op.decimals}} {{op.asset+'/'+op.baseAsset}}</span></td>
						<td ng-if="trxInfo[$parent.$index].cover"><span ng-if="op.ratio >=0">{{op.ratio | number:op.decimals}} {{op.asset+'/'+op.baseAsset}}</span></td>
						<td ng-if="trxInfo[$parent.$index].interest"><span ng-if="op.interest>= 0">{{op.interest}}%</span></td>
						<td ng-if="trxInfo[$parent.$index].ratio">{{op.baseAsset}}</td>
						<td ng-if="trxInfo[$parent.$index].name"><a ui-sref="account({ 'name' : op.name })" >{{op.name}}</a></td>
						<td><a ng-if="op.asset !== 'BTS'" ui-sref="asset.orderbook({ 'asset' : op.asset })"> {{op.asset}}</a><span ng-if="op.asset === 'BTS'">{{op.asset }}</span> </td>
						<td ng-if="trxInfo[$parent.$index].burn">{{op.message}}</td>
						<td ng-if="trxInfo[$parent.$index].balance"><span ng-if="op.balance_id">{{op.balance_id}}</span></td>
						<td>{{op.amount}}</td>
					</tr>
				</tbody>
			</table>



		</div>

	</div>

</div>

