
<h1>{{ 'block.block' | translate }} # {{blk.block_num}}</h1>
<div class="container" id="next-block">
	<a ng-if="blk.block_num>1" href="" ng-click="clickNext(blk.block_num-1)"><span class="glyphicon glyphicon-arrow-left"></span> {{ 'block.previous' | translate }}</a>	
	<a href="" ng-click="clickNext(blk.block_num+1)">{{ 'block.next' | translate }}<span class="glyphicon glyphicon-arrow-right"></span></a>
</div>

<div class="col-sm-6" id="blockstable">
	<div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ 'block.details.title' | translate }}</h3>
			</div>
			<ul class="list-group">
				<li class="clearfix list-group-item">{{ 'blocks.timestamp' | translate }}:<span class="badge">{{blk.timestamp | date:'medium'}}</span></li>
				<li class="clearfix list-group-item">{{ 'block.details.signee' | translate }}:<span style="float:right;"><a ui-sref="delegate({ 'name' : blk.signee })">{{blk.signee}}</a></span></li>
				<li class="clearfix list-group-item">{{ 'block.details.shares' | translate }}:<span class="badge">{{blk.signee_shares_issued / 100000}} BTS</span></li>
				<li class="clearfix list-group-item">{{ 'block.details.collected' | translate }}:<span class="badge">{{blk.signee_fees_collected / 100000}} BTS</span></li>
				<li class="clearfix list-group-item">{{ 'block.details.destroyed' | translate }}:<span class="badge">{{blk.signee_fees_destroyed / 100000}} BTS</a></span></li>
				<li class="clearfix list-group-item">{{ 'blocks.trxCount' | translate }}:<span class="badge">{{ nrTrx }}</span></li>
			</ul>
		</div>
	</div>
	<div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ 'block.details.title' | translate }}</h3>
			</div>
			<ul class="list-group">
				<li class="clearfix list-group-item">{{ 'block.details.size' | translate }}:<span class="badge">{{blk.block_size}} bytes</span></li>
				<li ng-if="blk.latency/1000000<1000" class="clearfix list-group-item">Latency:<span class="badge">{{blk.latency/1000000 | number:2}}s</span></li>
				<li class="clearfix list-group-item">{{ 'block.details.time' | translate }}:<span class="badge">{{blk.processing_time /1000000}}</span></li>
				<li class="clearfix list-group-item hidden-xs">{{ 'block.details.hash1' | translate }}:<span class="badge">{{blk.previous}}</span></li>
				<li class="clearfix list-group-item hidden-xs">{{ 'block.details.hash2' | translate }}:<span class="badge">{{blk.next_secret_hash}}</span></li>
				<li class="clearfix list-group-item hidden-xs">{{ 'block.details.hash3' | translate }}:<span class="badge">{{blk.previous_secret}}</span></li>
			</ul>
		</div>
	</div>

</div>

<div class="col-md-6 col-sm-6 col-xs-12 transactiondiv" style="float:right; clear:right;" ng-repeat="transaction in votes track by $index">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'block.trx.title' | translate }} #{{blk.block_num+'.'+($index+1)}}</h3>
		</div>
		<table  class="table table-condensed table-hover transactiontable" id="transactions">
			<tbody>
				<tr class="hidden-xs">
					<td>{{ 'block.trx.id' | translate }}</td>
					<td>{{trxInfo[$index].id}}</td>
				</tr>
				<tr>
					<td>{{ 'blocks.trxValue' | translate }}:</td>
					<td ng-if="blk.fees"><span ng-repeat="value in values[$index]"><p style="margin:0;padding:0;" ng-if="value.amount!==0"><span ng-if="value.asset=='BTC' || value.asset=='GOLD'">{{value.amount | number:6}}</span><span ng-if="value.asset!=='BTC' && value.asset!=='GOLD'">{{value.amount | number:3}}</span> <span ng-if="value.asset==='BTS'">BTS</span> <a ng-if="value.asset!=='BTS'" ui-sref="asset.orderbook({ 'asset' : value.asset})">{{value.asset}}</a></p></span></td>
				</tr>
				<tr>
					<td>{{ 'block.trx.type' | translate }}:</td>
					<td >{{ trxTypes[trxInfo[$index].type] }}</td>
				</tr>

				<tr>
					<td>{{ 'block.trx.fee' | translate }}:</td>
					<td ng-if="blk.fees" ><span ng-repeat="fee in fees[$index]"><p style="margin:0;padding:0;" ng-if="fee.price!==0"><span ng-if="fee.asset=='BTC' || fee.asset=='GOLD'">{{fee.price | number:6}}</span><span ng-if="fee.asset!=='BTC' && fee.asset!=='GOLD'">{{fee.price | number:3}}</span> <span ng-if="fee.asset==='BTS'">BTS</span> <a ng-if="fee.asset!=='BTS'" ui-sref="asset.orderbook({ 'asset' : fee.asset})">{{fee.asset}}</a></p></span></td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===5">
					<td>{{ 'accounts.name' | translate }}:</td>
					<td ng-if="trx[$index][1].data.delegate_pay_rate"><strong><a ui-sref="delegate({ 'name' : trx[$index][1].name })"</a>{{trx[$index][1].name}}</strong></td>
					<td ng-if="!trx[$index][1].data.delegate_pay_rate"><strong><a ui-sref="delegate({ 'account' : trx[$index][1].name })"</a>{{trx[$index][1].name}}</strong></td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===5 && trx[$index][1].data.delegate_pay_rate" >
					<td>{{ 'delegates.rate' | translate }}:</td>
					<td><strong>{{trx[$index][1].data.delegate_pay_rate}}%</strong> </td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===5 && trx[$index][1].data.public_data">
					<td>{{ 'block.trx.public' | translate }}:</td>
					<td><strong>{{trx[$index][1].data.public_data}}</strong> </td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===9">
					<td>{{ 'block.trx.account' | translate }}:</td>
					<td><strong><a ui-sref="account({ 'name' : trx[$index][1].trx.operations[0].data.name })" >{{trx[$index][1].trx.operations[0].data.name}}</a></strong> </td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===9">
					<td>{{ 'block.trx.key' | translate }}:</td>
					<td>{{trx[$index][1].trx.operations[0].data.owner_key}} </td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===8 || trxInfo[$index].trxCode===11">
					<td>{{ 'block.trx.delegate' | translate }}:</td>
					<td><a ui-sref="delegate({ 'name' : trxInfo[$index].delegate })">{{trxInfo[$index].delegate}}</a></td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===8 && trx[$index][1].trx.operations.length===2">
					<td>{{ 'block.trx.assetName' | translate }}:</td>
					<td><a ui-sref="asset.orderbook({ 'asset' : trxInfo[$index].feeds[0].asset})">{{trxInfo[$index].feeds[0].asset}}</a></td>
				</tr>

				<tr ng-if="trxInfo[$index].trxCode===8 && trx[$index][1].trx.operations.length===2">
					<td>{{ 'block.trx.feedPrice' | translate }}:</td>
					<td>{{(trx[$index][1].trx.operations[0].data.value.ratio*ratioToPrice[trx[$index][1].trx.operations[0].data.feed.feed_id] | number:6)+' '+trxInfo[$index].feeds[0].asset}}/BTS </td>
				</tr>

				<tr ng-if="(trxInfo[$index].trxCode<4 || trxInfo[$index].trxCode===10)  && trxInfo[$index].ratio && trxInfo[$index].trxCode!==2">
					<td>{{ 'block.trx.price' | translate }}:</td>
					<td>{{trxInfo[$index].ratio | number:6}} <a ui-sref="asset.orderbook({ 'asset' : trxInfo[$index].assetName })"> {{trxInfo[$index].assetName}}</a>/{{trxInfo[$index].baseAssetName}}</td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===2 && trxInfo[$index].interest">
					<td>{{ 'block.trx.interest' | translate }}:</td>
					<td>{{trxInfo[$index].interest | number:2}}%</td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode<4 && trxInfo[$index].trxCode!==2">
					<td>{{ 'block.trx.assetAmount' | translate }}:</td>
					<td>{{trxInfo[$index].amountAsset | number:3}} <a ui-sref="asset.orderbook({ 'asset' : trxInfo[$index].assetName })"> {{trxInfo[$index].assetName}}</a></td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===2">
					<td>{{ 'block.trx.assetName' | translate }}:</td>
					<td><a ui-sref="asset.orderbook({ 'asset' : trxInfo[$index].assetName })"> {{trxInfo[$index].assetName}}</a></td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode<4 && trxInfo[$index].trxCode!==2">
					<td>{{ 'block.trx.base' | translate }}:</td>
					<td>{{trxInfo[$index].amountBase | number:3}} {{trxInfo[$index].baseAssetName}}</td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===6">
					<td>{{ 'block.trx.amount' | translate }}:</td>
					<td>{{trxInfo[$index].amount | number:2}} {{getAssetName(trx[$index][1].asset)}}</td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===6">
					<td>{{ 'block.trx.account' | translate }}:</td>
					<td><a ui-sref="account({ 'name' : trx[$index][1].name })" >{{ trx[$index][1].name }}</a></td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===6">
					<td>{{ 'block.trx.message' | translate }}:</td>
					<td>{{trx[$index][1].message}}</td>
				</tr>

				<tr ng-if="trxInfo[$index].trxCode===7">
					<td>{{ 'block.trx.asset' | translate }}:</td>
					<td><a ui-sref="asset.orderbook({ 'asset' : trx[$index][1].assetSymbol })"> {{trx[$index][1].assetSymbol}}</a></td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===7">
					<td>{{ 'block.trx.description' | translate }}:</td>
					<td>{{trx[$index][1].assetDescription}}</td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===7">
					<td>{{ 'block.trx.issuer' | translate }}:</td>
					<td ng-if="issuerName[$index] === 'MARKET'">{{issuerName[$index]}}</td>
					<td ng-if="issuerName[$index] !== 'MARKET'"><a ui-sref="account({ 'name' : issuerName[$index] })" >{{issuerName[$index]}}</a></td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===10 || trxInfo[$index].trxCode===2">
					<td>{{ 'block.trx.collateral' | translate }}:</td>
					<td>{{trxInfo[$index].amountBase | number:2}} BTS</td>
				</tr>
				<tr ng-if="trxInfo[$index].trxCode===11">
					<td>{{ 'delegate.info.withdrawn' | translate }}:</td>
					<td>{{ trxInfo[$index].amount | number:2 }} BTS</td>
				</tr>
			</tbody>
		</table>
		<div>
			<table ng-if="trxInfo[$index].trxCode===8" class="table table-condensed table-striped" style="margin-bottom:0;">
				<thead >
					<tr>
						<td style="padding-top:0.75em;"><strong>{{ 'block.trx.feedUpdates' | translate }}: {{trxInfo[$index].feedsCount}}</strong></td>
						<td style="padding-top:0.75em;"><span id="dropdown" ng-click="feedStatus.open= !feedStatus.open"><i class="pull-right glyphicon clickable" ng-class="{'glyphicon-chevron-down': feedStatus.open, 'glyphicon-chevron-right': !feedStatus.open}"></i></span></td>
					</tr>
					<tr ng-if="feedStatus.open">
						<th>{{ 'block.trx.asset' | translate }}:</th>
						<th>{{ 'home.price' | translate }}:</th>
					</tr>
				</thead>
				<tbody ng-if="feedStatus.open">
					<tr ng-repeat="feed in trxInfo[$index].feeds track by $index">
						<td><a ui-sref="asset.orderbook({ 'asset' : feed.asset })">{{feed.asset}}</a></td>
						<td>{{feed.price | number:6}} {{feed.asset+'/'+feed.baseAsset}}</td>
					</tr>
				</tbody>
			</tbody>
		</table>
	</div>

	<div>
		<table class="table table-condensed table-striped transactiontable" style="margin-bottom:0;">
			<thead >
				<tr>
					<td style="padding-top:0.75em;"><strong>{{ 'block.trx.votes' | translate }}: {{transaction.length}}</strong></td>
					<td ng-if="transaction.length !== undefined" style="padding-top:0.75em;"><span ng-show="transaction.length>0" id="dropdown" ng-click="status.open[$index]= !status.open[$index]"><i class="pull-right glyphicon clickable" ng-class="{'glyphicon-chevron-down': status.open[$index], 'glyphicon-chevron-right': !status.open[$index]}"></i></span></td>
				</tr>
				<tr ng-if="status.open[$index]">
					<th ng-click="sort('amount')" class="sortable hidden-xs"><ng-sort-arrows order-string="amount" reverse-sort="{{reverseSort}}" order-by-field="{{orderByField}}"></ng-sort-arrows>{{ 'block.trx.amount' | translate }}:</th>
					<th ng-if="transaction.length !== undefined" ng-click="sort('delegate')" class="sortable hidden-xs"><ng-sort-arrows order-string="delegate" reverse-sort="{{reverseSort}}" order-by-field="{{orderByField}}"></ng-sort-arrows>{{ 'block.trx.for' | translate }}:</th>
				</tr>
			</thead>
			<tbody ng-if="status.open[$index] || (transaction.length===undefined)">
				<tr ng-repeat="vote in transaction | orderBy: orderByField:reverseSort track by $index">
					<td ng-if="vote !=='None'">{{(vote.amount)  | number:3}}: </td>
					<td ng-if="vote ==='None'">{{ 'block.trx.noVotes' | translate }} </td>
					<td ng-if="vote!=='None'"><a ui-sref="delegate({ 'name' : vote.delegate })">{{ vote.delegate }}</a></td>
				</tr>
			</tbody>
		</tbody>
	</table>
</div>
</div>


