<div class="col-md-5" >
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'genesis.stats' | translate }}</h3>
		</div>
		<ul class="list-group">
			<li class="list-group-item">{{ 'genesis.total' | translate }}: <span class="badge">{{genesis.balanceCount | number:0}}</span></li>
			<li class="list-group-item">{{ 'genesis.supply' | translate }}:<span class="badge">{{genesis.initialSum | number:2}} {{ :baseAsset }}</span></li>
			<li class="list-group-item">{{ 'genesis.sharedrop' | translate }}:<span class="badge">{{genesis.shareDrop | number:2}} {{ :baseAsset }}</span></li>
			<li class="list-group-item">{{ 'genesis.market' | translate }}: <span class="badge">{{genesis.market_assets.length}}</span></li>
			<li class="list-group-item">{{ 'genesis.whale' | translate }}: <span class="badge">{{genesis.maxBalance | number:2}} {{ :baseAsset }}</span></li>
		</ul>
	</div>
</div>

<div class="col-md-7">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'genesis.percent' | translate }}</h3>
		</div>
		<highchart id="chart4" config="genesisPercentChart" ></highchart>
	</div>
</div>

<div class="col-md-5" >
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'genesis.stats' | translate }}</h3>
		</div>
		<ul class="list-group">
			<li ng-repeat="cutoff in genesis.cutOffs track by $index" class="list-group-item">{{ 'genesis.higher' | translate }} {{cutoff | number:0}} {{ :baseAsset }}: <span class="badge">{{genesis.counts[$index]}}</span></li>

		</ul>
	</div>
</div>

<div class="col-md-7">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'genesis.piechart.title' | translate }}</h3>
		</div>
		<highchart id="chart5" config="genesisPieChart" ></highchart>
	</div>
</div>

<!-- <div style="clear:left;" class="col-md-6" style="margin-bottom:5em">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'genesis.top' | translate }} {{balanceLimit}} {{ 'genesis.sharedropTitle' | translate }} {{ 'genesis.addresses' | translate }}</h3>
		</div>
		<table class="table table-condensed table-hover table-bordered">
			<thead>
				<tr>
					<th>{{ 'delegates.rank' | translate }}</th>
					<th>{{ 'genesis.address' | translate }}</th>
					<th>{{ 'genesis.balance' | translate }}</th>
					<th>{{ 'genesis.percentOf' | translate }}</th>
					<th>{{ 'genesis.cumul' | translate }}</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="adress in genesis.topSharedrop | limitTo:balanceLimit track by $index">
					<td>{{$index+1}}</td>
					<td><small>{{adress[0]}}</small></td>
					<td>{{adress[1] | number:2}} {{ :baseAsset }}</td>
					<td>{{adress[2] | number:2}} %</td>
					<td>{{adress[3] | number:2}} %</td>
				</tr>

			</tbody>
		</table>
	</div>
</div> -->

<div class="col-md-6" style="margin-bottom:5em">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'genesis.top' | translate }} {{balanceLimit}} {{ 'genesis.addresses' | translate }}</h3>
		</div>
		<table class="table table-condensed table-hover table-bordered">
			<thead>
				<tr>
					<th>{{ 'delegates.rank' | translate }}</th>
					<th>{{ 'genesis.address' | translate }}</th>
					<th>{{ 'genesis.balance' | translate }}</th>
					<th>{{ 'genesis.percentOf' | translate }}</th>
					<th>{{ 'genesis.cumul' | translate }}</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="adress in genesis.topBalances | limitTo:balanceLimit track by $index">
					<td>{{$index+1}}</td>
					<td><small>{{adress[0]}}</small></td>
					<td>{{adress[1] | number:2}} {{ :baseAsset }}</td>
					<td>{{adress[2] | number:2}} %</td>
					<td>{{adress[3] | number:2}} %</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>