<div class="col-md-12 col-xs-12" id="alerts-container-indexing" style="padding-top:0;"></div>

<div class="input-group filters col-md-12">
  <div class="col-md-6">
	<form ng-submit="submitDelegate(selectedDelegate)">
		<input type="text" class="form-control" ng-model="selectedDelegate" limit="15" data-min-length="0" ng-options="delegate.name as delegate.name for delegate in getNames(selectedDelegate)" placeholder="{{ 'delegates.search' | translate }}" bs-typeahead analytics-on analytics-event="Delegate search" analytics-category="Search" analytics-label="Delegate" >
	</form>
	<div id="alerts-container"></div>
</div>
</div>

<div id="deltable" class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 style="display: inline-block;" class="panel-title">{{ 'delegates.title' | translate }}</h3>
			<button style="padding: 0; float: right; display: inline-block; border-color:rgba(226, 226, 226, 0);" type="button" class="btn btn-default" placement="bottom" ng-model="selectedTypes" data-html="1" data-multiple="1" ng-options="unit.type as unit.name for unit in types" placeholder="{{placeholder}}" bs-select>
          Action <span class="caret"></span>
        </button>
		</div>

		<div>
			<fast-repeat component="'DelegatesTable'" data="delegates" headers="headers"></fast-repeat>
		</div>
	</div>
</div>