<div class="col-md-6 col-sm-6 col-xs-12 no-left-padding">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title"></h3>
     </div>
     <ul class="list-group">
         <li class="list-group-item">{{ 'account.id' | translate }}:<span class="badge">{{delegate.id}}</span></li>
         <li class="list-group-item">{{ 'accounts.reg' | translate }}:<span class="badge">{{delegate.registration_date | date:'short'}}</span></li>
         <li class="list-group-item">{{ 'accounts.update' | translate }}:<span class="badge">{{delegate.last_update | date:'short'}}</span></li>
         <li class="list-group-item">{{ 'delegates.rate' | translate }}:<span class="badge">{{delegate.delegate_info.pay_rate}} %</span></li>
     </ul>
 </div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12 no-right-padding">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">{{ 'delegate.prod.title' | translate }}</h3>
     </div>
     <li class="list-group-item">{{ 'delegate.prod.prod' | translate }}:<span class="badge">{{delegate.delegate_info.blocks_produced}}</span></li>
     <li class="list-group-item">{{ 'delegate.prod.missed' | translate }}:<span class="badge">{{delegate.delegate_info.blocks_missed}}</span></li>
     <li ng-if="delegate.delegate_info.blocks_produced>0" class="list-group-item">{{ 'delegates.rel' | translate }}:<span ng-class="{'badge':true, 'alert-success': (delegate.reliability>=97.5), 'alert-info': (delegate.reliability<97.5 && delegate.reliability>=92.5), 'alert-warning': (delegate.reliability<92.5 && delegate.reliability>=80), 'alert-danger': (delegate.reliability<80)}">{{delegate.reliability | number:2}} %</span></li>

     <li ng-if="delegate.delegate_info.last_block_num_produced!==0" class="list-group-item">{{ 'delegate.prod.last' | translate }}:<a style="float:right;" ui-sref="block({ 'id' : delegate.delegate_info.last_block_num_produced })" >{{delegate.delegate_info.last_block_num_produced}}</a></li>

     <li ng-if="latencies && latencies.avg50 !== 'n/a'" class="list-group-item">{{ 'delegate.prod.lat50' | translate }}:<span ng-class="{'badge':true, 'alert-success': (latencies.avg50<1.5 && latencies.avg50>=0), 'alert-warning': (latencies.avg50>1.5 && latencies.avg50<=3), 'alert-danger': (latencies.avg50<0 || latencies.avg50>3)}">{{latencies.avg50 | number:3}}s</span></li>

     <li ng-if="latencies && latencies.avg100 !== 'n/a'" class="list-group-item">{{ 'delegate.prod.lat100' | translate }}:<span ng-class="{'badge':true, 'alert-success': (latencies.avg100<1.5 && latencies.avg100>=0), 'alert-warning': (latencies.avg100>1.5 && latencies.avg100<=3), 'alert-danger': (latencies.avg100<0 || latencies.avg100>3)}">{{latencies.avg100  | number:3}}s</span></li>
     <li ng-if="latencies &&  latencies.avg200 !== 'n/a'" class="list-group-item">{{ 'delegate.prod.lat200' | translate }}:<span ng-class="{'badge':true, 'alert-success': (latencies.avg200<=1.5 && latencies.avg200>=0), 'alert-warning': (latencies.avg200>1.5 && latencies.avg200<=3), 'alert-danger': (latencies.avg200<0 || latencies.avg200>3)}">{{latencies.avg200  | number:3}}s</span></li>
 </div>
</div>

<div class="col-md-6 col-sm-12 col-xs-12 no-left-padding" style="clear:left;">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">{{ 'delegate.data.title' | translate }}</h3>
     </div>
     <ul class="list-group">
         <li ng-if="role" class="list-group-item">{{ 'delegate.data.role' | translate }}:<span class="badge">{{role}}</span></li>
         <li ng-if="delegate.public_data.delegate.proposal"  class="list-group-item">{{ 'delegate.data.proposal' | translate }}:<a style="float:right;" ng-href="{{ delegate.public_data.delegate.proposal }}" target="_blank">{{ delegate.public_data.delegate.proposal }}</a></li>
         <li ng-if="delegate.public_data.delegate.handle" class="list-group-item">{{ 'delegate.data.handle' | translate }}:<span class="badge">{{ delegate.public_data.delegate.handle }}</span></li>
         <li ng-if="delegate.public_data.delegate.country"  class="list-group-item">{{ 'delegate.data.country' | translate }}:<span class="badge">{{ delegate.public_data.delegate.country }}</span></li>
         <li ng-if="delegate.public_data.delegate.location"  class="list-group-item">{{ 'delegate.data.location' | translate }}:<span class="badge">{{ delegate.public_data.delegate.location }}</span></li>
         <li ng-if="delegate.version !== 999" class="list-group-item">{{ 'footer.version' | translate }}:<span ng-class="{'badge':true, 'alert-success': (delegate.version === 1), 'alert-warning': (delegate.version === 2 ), 'alert-danger': (delegate.version > 2)}">{{delegate.public_data.version}}</span></li>
         <li ng-if="delegate.version === 999" class="list-group-item">{{ 'footer.version' | translate }}:<span class="badge alert-danger">{{ 'delegates.no_version' | translate }}</span></li>
         <li ng-if="website" class="list-group-item">{{ 'delegate.data.website' | translate }}:<a style="float:right;" ng-href="{{website}}" target="_blank">{{website}}</a></li>
         <div ng-if="delegate.public_data.delegate.description" class="panel-body"><strong>{{ delegate.public_data.delegate.description }}</strong></div>
     </ul>
 </div>
</div>
