<div ng-if="delegate.public_data.delegate.ann" class="col-md-12">
	<alert  type="warning">{{ delegate.public_data.delegate.ann }}</alert>
</div>

<div class="delegate-band">
<div class="text-center col-md-4 col-md-offset-1 col-xs-6">
    <a class="hidden-xs" href="bts:{{delegate.name}}/disapprove"><span style="font-size:2em; color:red;" class="glyphicon glyphicon glyphicon-thumbs-down"></span></a>
    <img alt="Delegate Robo Avatar" height="135" width="135" ng-src="https://robohash.org/set_1/{{delegate.name}}?size=200x200"/>
    <a class="hidden-xs" ng-href="bts:{{delegate.name}}/approve"><span style="font-size:2em; color:green;" class="glyphicon glyphicon glyphicon-thumbs-up"></span></a>

    <div id="next-delegate">
      <a ng-show="delegate.rank > 1" href="" ng-click="getNextDelegate(delegate.rank-1)"><span class="glyphicon glyphicon-arrow-left"></span> <span class="hidden-xs">{{ 'delegate.prevRank' | translate }}</span></a>
      <a href="" ng-click="getNextDelegate(delegate.rank+1)"><span class="hidden-xs">{{ 'delegate.nextRank' | translate }} </span><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
  </div>
  <div class="col-md-7 col-xs-6">
    <h2 id="delegateH">{{ delegate.name }}</h2>
    <h5>{{ 'delegate.rank.current' | translate }}: {{ delegate.rank }}</h5>
    <h5 ng-if="website"><em><a ng-href="{{website}}" target="_blank">{{website}}</a></em></h5>
    <h5 ng-if="delegate.role">{{ 'delegate.data.role' | translate }}: <strong><em>{{ delegate.role }}</em></strong></h5>
  </div>
</div>

<div class="col-md-12 assets">
  <tabset>
    <tab style="cursor:pointer;" ng-click="goTo('delegate.votes')" active="tabs[0].active">
      <tab-heading style="cursor:pointer;">{{ 'delegate.rank.title' | translate }}</tab-heading>
      <div ui-view="delegate-votes"></div>
    </tab>

    <tab style="cursor:pointer;" ng-click="goTo('delegate.info')" active="tabs[1].active">
      <tab-heading style="cursor:pointer;">{{'delegate.info.title' | translate }}</tab-heading>
      <div ui-view="delegate-info"></div>
    </tab>

    <tab style="cursor:pointer;" ng-click="goTo('delegate.feeds')" active="tabs[2].active">
      <tab-heading style="cursor:pointer;">{{ 'delegate.feeds.title' | translate }}</tab-heading>
      <div ui-view="delegate-feeds"></div>
    </tab>

    <tab style="cursor:pointer;" ng-click="goTo('delegate.slate')" active="tabs[3].active">
      <tab-heading style="cursor:pointer;">{{ 'delegate.slate.title' | translate }}</tab-heading>
      <div ui-view="delegate-slate"></div>
    </tab>

    <tab style="cursor:pointer;" ng-click="goTo('delegate.earnings')" active="tabs[4].active">
      <tab-heading style="cursor:pointer;">{{ ('delegate.info.earnings' | translate).toUpperCase() }}</tab-heading>
      <div ui-view="delegate-earnings"></div>
    </tab>
  </tabset>
</div>

<!-- <div class="col-md-5 col-md-offset-1 col-sm-6 votestable" style="clear:left">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">SLOT RECORD (LAST {{record.length}} SLOTS)<span id="dropdown" ng-click="recordstatus.open= !recordstatus.open"><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': recordstatus.open, 'glyphicon-chevron-right': !recordstatus.open}"></i></span></h3>
		</div>
		<table ng-if="recordstatus.open" class="table table-condensed">
			<thead >
				<th>Timestamp</th>
				<th>Status</th>
			</thead>
			<tbody >
				<tr  ng-repeat="slot in record track by $index">
					<td>{{slot.start_time | date:'medium'}}</td>
					<td ng-if="slot.block_produced==true" class="alert alert-success">Produced</td>
					<td ng-if="slot.block_produced==false" class="alert alert-danger">Missed</td>
				</tr>
			</tbody>
		</table>
	</div>
</div> -->




