  <!--   <div ng-if="showDelegateAlert" class="col-md-12 hidden-xs"><alert  type="info" close="closeDelegateAlert()">{{ 'alerts.del1' | translate}} <a style="color:black;" href="bts:dev.bitsharesblocks/approve"><button class="btn btn-small btn-success">dev.bitsharesblocks</button></a> {{ 'alerts.del2' | translate}}  <p style="display:inline-block; margin-left:1.5em;">{{ 'alerts.del3' | translate}} </p>
      <a href="https://bitsharestalk.org/index.php?topic=11272.0" target="_blank"><strong>{{ 'alerts.del4' | translate}}</strong></a></alert>
    </div> -->

    <div class="col-md-12" id="alerts-container-indexing" style="padding-top:0;"></div>

    <div ng-if="maxBlock < home.hardFork && showForkAlert" class="col-md-12"><alert  type="{{forkAlert.type}}" close="closeAlert()">{{forkAlert.msg}}</alert></div>

    <div class="col-md-7 col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading" style="overflow: hidden;">
          <h3 style="display: inline-block;" class="panel-title">{{ 'home.history' | translate:translateBase }} </h3>
          <button style="padding: 0; float: right; display: inline-block; border-color:rgba(226, 226, 226, 0);" type="button" class="btn btn-default" placement="bottom" ng-model="currentUnit" data-html="1" ng-options="unit.name as unit.label for unit in priceUnits" bs-select>
            Action <span class="caret"></span>
          </button>
        </div>
        <highchart id="priceChart" config="priceChart" ></highchart>
      </div>
    </div>

    <div class="col-md-5 col-sm-5 net-health">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'home.health.title' | translate }}</h3>
        </div>
        <ul class="list-group">
          <li class="clearfix list-group-item">{{ 'home.health.alert' | translate }}<span ng-class="{'badge':true,'alert-success': (security.alert_level=='green'), 'alert-warning': (security.alert_level=='yellow'), 'alert-danger': (security.alert_level=='red')}">{{security.alert_level}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.health.particip' | translate }}<span ng-class="{'badge':true,'alert-success': (security.participation_rate>=95), 'alert-warning': (security.participation_rate<95 && security.participation_rate>=90), 'alert-danger': (security.participation_rate<90)}">{{security.participation_rate | number:2}}%</span></li>
          <li class="clearfix list-group-item">{{ 'home.health.confirm' | translate }} <span ng-class="{'badge':true,'alert-success': (averageConfirm<=5), 'alert-warning': (averageConfirm>5 && averageConfirm<=10), 'alert-danger': (averageConfirm>10)}">{{averageConfirm}}s</span></li>
          <li class="clearfix list-group-item">{{ 'home.health.forks' | translate }} <span ng-class="{'badge':true,'alert-success': (home.forks.count24hrs<=3), 'alert-warning': (home.forks.count24hrs>3 && home.forks.count24hrs<=15), 'alert-danger': (home.forks.count24hrs>15)}">{{home.forks.count24hrs}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.health.forkBlock' | translate }} <span style='float:right;'><a ui-sref="block({ 'id' : (home.forks.previous._id+1) })">{{previousForkHeight}}</a></span></li>
          <li class="clearfix list-group-item">{{ 'home.health.signee' | translate }} <span style='float:right;'><a ui-sref="delegate.info({ 'name' : forkDelegateName})">{{forkDelegateName}}</a></span></li>
          <li ng-if="home.forks.previous" class="clearfix list-group-item">{{ 'home.health.latency' | translate }} <span ng-class="{'badge':true, 'alert-success': (forkLatency<1 && forkLatency>=0), 'alert-info': (forkLatency>1 && forkLatency<=2), 'alert-warning': (forkLatency>2 && forkLatency<3), 'alert-danger': (forkLatency<0 || forkLatency>3)}">{{forkLatency}}s</span></li>
        </ul>
      </div>
    </div>

    <div class="col-md-12 meta-buttons">
      <div class="col-sm-4 col-sm-offset-2 col-xs-12">
        <a class="button-link" href="https://metaexchange.info/markets/BTS/BTC?refid=1" target="_blank">
          <button class="button btn-success btn-lg btn-block meta-button-success" analytics-on analytics-event="Meta_BUY" analytics-category="MetaX" analytics-label="Buy_BTS">      
            <span>{{ 'asset.buy' | translate }} BTS</span>
            <br>
            <span class="badge">1.00 BTC</span>
            <span class="glyphicon glyphicon-arrow-right arrow"></span>
            <span class="badge">{{ priceBuy | number:3}} BTS</span>
          </button>
        </a>
      </div>
      <img height="28px" width="31px" class="meta-logo" src="/img/smallLogo_metax.svg" alt="MetaExchange logo"/>
      <div class="col-sm-4 col-xs-12">
        <a class="button-link" href="https://metaexchange.info/markets/BTS/BTC?refid=1" analytics-on analytics-event="Meta_SELL" analytics-category="MetaX" analytics-label="Sell_BTS" target="_blank">
          <button class="button btn-danger btn-lg btn-block meta-button-danger">
            <span>{{ 'asset.sell' | translate }} BTS</span>
            <br>
            <span class="badge">{{ priceSell  | number:3 }} BTS</span>
            <span class="glyphicon glyphicon-arrow-right arrow"></span>
            <span class="badge">1.00 BTC</span>
          </button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-sm-6" style="clear:left;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'home.delegate.title' | translate }}</h3>
        </div>
        <ul class="list-group">
          <li class="clearfix list-group-item">{{ 'home.delegate.reg' | translate }}: <span class="badge">{{home.numberOfDelegates | number:0}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.delegate.votes' | translate }}:<span class="badge">{{home.numberOfVotedDelegates | number:0}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.delegate.payReg' | translate }}: <span class="badge">{{home.delegateReg | number:2}} {{ ::baseAsset }}</span></li>
          <li class="clearfix list-group-item">{{ 'home.delegate.new24' | translate }}: <span class="badge">{{home.newDelegatesDay | number:0}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.delegate.new7d' | translate }}: <span class="badge">{{home.newDelegatesWeek | number:0}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.delegate.pay' | translate }}: <span class="badge">{{home.delegatePayRate | number:2}} {{ ::baseAsset }}/{{ 'block.block' | translate }}</span></li>
          <li class="clearfix list-group-item">{{ 'home.delegate.averagePay' | translate }}: <span class="badge">{{home.averagePay | number:2}} {{ ::baseAsset }}/{{ 'block.block' | translate }}</span></li>

        </ul>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'home.blockchain.title' | translate }}</h3>
        </div>
        <ul class="list-group">
          <li class="clearfix list-group-item">{{ 'home.blockchain.supply' | translate }}: <span class="badge">{{home.btsxSupply | number:0}} {{ ::baseAsset }}</span></li>
          <li class="clearfix list-group-item">{{ 'home.blockchain.unclaimed' | translate }}:<span class="badge">{{home.unclaimed | number:0}} {{ ::baseAsset }}</span></li>
          <li class="clearfix list-group-item">{{ 'home.blockchain.collat' | translate }}:<span class="badge">{{home.totalCollateral | number:0}} {{ ::baseAsset }}</span></li>
          <li class="clearfix list-group-item">{{ 'home.blockchain.change' | translate }}:<span class="badge">{{home.dailyInflation | number:0}} {{ ::baseAsset }}</span></li>
          <li class="clearfix list-group-item">{{ 'home.blockchain.current' | translate }}: <span class="badge bold">{{maxBlock | number:0}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.blockchain.trx' | translate }}:<span class="badge">{{home.transactionCount | number:0}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.blockchain.missed' | translate }}:<span class="badge">{{home.missedCount | number:0}}</span></li>
        </ul>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'home.asset.title' | translate }}</h3>
        </div>
        <ul class="list-group">
          <li class="clearfix list-group-item">{{ 'home.asset.number' | translate }}: <span class="badge">{{ home.assetCount }}</span></li>
          <li class="clearfix list-group-item">{{ 'home.asset.user' | translate }}: <span class="badge">{{home.userAssets}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.asset.shortReg' | translate }}: <span class="badge">{{home.assetReg | number:0}} {{ ::baseAsset }}</span></li>
          <li class="clearfix list-group-item">{{ 'home.asset.longReg' | translate }}: <span class="badge">{{home.assetRegLong | number:0}} {{ ::baseAsset }}</span></li>
          <li class="clearfix list-group-item">{{ 'home.asset.new7d' | translate }}: <span class="badge">{{home.newAssetsWeek | number:0}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.asset.new30d' | translate }}: <span class="badge">{{home.newAssetsMonth | number:0}}</span></li>      
          <li class="clearfix list-group-item">{{ 'home.asset.trx' | translate }}: <span class="badge">{{home.nrAssetTrx | number:0}}</span></li>      
        </ul>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'home.user.title' | translate }}</h3>
        </div>
        <ul class="list-group">
          <li class="clearfix list-group-item">{{ 'home.user.number' | translate }}: <span class="badge">{{home.numberOfUsers | number:0}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.user.sub' | translate }}: <span class="badge">{{home.subaccounts | number:0}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.user.new24' | translate }}: <span class="badge">{{home.newAccountsDay | number:0}}</span></li>
          <li class="clearfix list-group-item">{{ 'home.user.new7d' | translate }}: <span class="badge">{{home.newAccountsWeek | number:0}}</span></li>
        </ul>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12" style="clear:left;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'home.missed.title' | translate }}</h3>
        </div>
        <table class="table table-condensed table-hover table-bordered">
          <thead>
            <tr>
              <th>{{ 'blocks.blockNum' | translate }}</th>
              <th>{{ 'blocks.delegate' | translate }}</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="block in home.missed track by block._id " class="repeated-item">
              <td><a ui-sref="block({ 'id' : block._id })" >{{block._id  | number:0}}</a></td>
              <td><div ng-repeat="delegate in block.delegates"><a ui-sref="delegate.info({ 'name' : delegate })" once-text="delegate"></a></div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-5 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'home.blocks.title' | translate }}</h3>
        </div>
        <table class="table table-condensed table-hover table-bordered" >
          <thead>
            <tr>
              <th>{{ 'blocks.blockNum' | translate }}</th>
              <th>{{ 'blocks.delegate' | translate }}</th>
              <th class="hidden-xs">{{ 'blocks.trxCount' | translate }}</th>
              <th>{{ 'blocks.trxValue' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="block in blocks | limitTo: 10 track by block._id" class="repeated-item">
              <td><a ui-sref="block({ 'id' : block._id })" >{{block._id  | number:0}}</a></td>
              <td><a ui-sref="delegate.info({ 'name' : block.signee })">{{block.signee}}</td>
              <td class="hidden-xs">{{block.trxLength}}</td>
              <td ng-if="block.trxLength>0">
                <span ng-repeat="value in block.totalValue">
                  <p style="margin:0;padding:0;" ng-if="value.value!==0"><span ng-if="value.asset=='BTC' || value.asset=='GOLD'">{{value.value | number:6}}</span><span ng-if="value.asset!=='BTC' && value.asset!=='GOLD'">{{value.value | number:2}}</span> <span ng-if="value.asset===baseAsset">{{ ::baseAsset }}</span> 
                    <a ng-if="value.asset!==baseAsset" ui-sref="asset.orderbook({ 'asset' : value.asset})">{{value.asset}}</a>
                  </p>
                </span>
              </td>
              <td ng-if="block.trxLength===0">0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'home.newUsers.title' | translate }}</h3>
        </div>
        <table class="table table-condensed table-hover table-bordered">
          <thead>
            <tr>
              <th>{{ 'accounts.regBlock' | translate }}</th>
              <th>{{ 'accounts.id' | translate }}</th>
              <th>{{ 'accounts.name' | translate }}</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="user in home.newUsers | limitTo: 10 track by user._id " class="repeated-item">
              <td><a ui-sref="block({ 'id' : user.reg_block })" >{{ user.reg_block | number:0}}</a></td>
              <td>{{user._id | number: 0}}</td>
              <td><a ui-sref="account({ 'name' : user.name })" >{{user.name}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 style="display: inline-block;" class="panel-title">{{ 'home.burns.title' | translate }}</h3>
          <button style="padding: 0; float: right; display: inline-block; border-color:rgba(226, 226, 226, 0);" type="button" class="btn btn-default" placement="bottom" ng-model="currentSort" data-html="1" ng-options="unit.name as unit.label for unit in sortBurns" bs-select>
            Action <span class="caret"></span>
          </button>
        </div>
        <table class="table table-condensed table-hover table-bordered">
          <thead>
            <tr>
              <th >{{'blocks.blockNum' | translate }}</th>
              <th>{{'accounts.name' | translate }}</th>
              <th>{{'block.trx.amount' | translate }}</th>
              <th class="hidden-xs">{{'block.trx.message' | translate }}</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="burn in burns | limitTo: 15 track by $index " class="repeated-item">
              <td><a ui-sref="block({ 'id' : burn.block })" >{{ burn.block }}</a></td>
              <td><a ui-sref="account({ 'name' : burn.name })" >{{burn.name}}</a></td>
              <td>{{ burn.realAmount }} {{ burn.assetSymbol }}</a></td>
              <td class="hidden-xs">{{ burn.message }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container" id="endofhome"></div>
