<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'supply.title1' | translate }}</h3>
	</div>
	<ul class="list-group">
		<li class="list-group-item">{{ 'supply.height' | translate }}: <span class="badge">{{data.hardFork | number:0}}</span></li>
		<li class="list-group-item">{{ 'supply.supply' | translate }}:<span class="badge">{{data.supply | number:0}} BTS</span></li>
		<li class="list-group-item">{{ 'assets.user.th4' | translate }}:<span class="badge">{{data.currentSupply | number:0}} BTS</span></li>
		<li class="list-group-item">{{ 'supply.change' | translate }}:<span ng-class="{badge:true, 'alert-success':data.deltaSupply > 0, 'alert-danger':data.deltaSupply < 0}">{{data.deltaSupply | number:0}} BTS</span></li>
		<li class="list-group-item">{{ 'supply.change' | translate }} (%):<span ng-class="{badge:true, 'alert-success':data.percentChange > 0, 'alert-danger':data.percentChange < 0}">{{ data.percentChange | number:3}}%</span></li>
		<li class="list-group-item">{{ 'supply.inflation' | translate }}:<span ng-class="{badge:true, 'alert-success':currentInflation > 0, 'alert-danger':currentInflation < 0}">{{ currentInflation | number:3}}%</span></li>
		<li class="list-group-item">{{ 'supply.final' | translate }}:<span class="badge">{{finalSupply | number:0}} BTS</span></li>
		<li class="list-group-item">{{ 'supply.max' | translate }}:<span class="badge">{{maxSupply | number:0}} BTS</span></li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'supply.title2' | translate }}</h3>
	</div>
	<highchart id="chart4" config="inflationChart" ></highchart>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'supply.title3' | translate }}</h3>
	</div>
	<highchart id="chart4" config="supplyChart" ></highchart>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'supply.title4' | translate }}</h3>
	</div>
	<highchart id="chart4" config="feesChart" ></highchart>
</div>
