<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'charts.titles.volume' | translate:baseAsset }}</h3>
  </div>
  <highchart id="chart1" config="valueChartConfig" ></highchart>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'charts.titles.trxCount' | translate:baseAsset }}</h3>
  </div>
  <highchart id="chart1" config="trxCountChart" ></highchart>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'charts.titles.btsTrx' | translate:baseAsset }}</h3>
  </div>
  <highchart id="chart2" config="trxBreakdownChart" ></highchart>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'charts.titles.assetTrx' | translate }}</h3>
  </div>
  <highchart id="chart1" config="assetCountChart" ></highchart>
</div>
