<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'assets.plot.title' | translate }}</h3>
    </div>
    <highchart id="chart1" config="assetCountChart" ></highchart>
  </div>
</div>

<div class="col-md-12 assets">
  <tabset>
      <tab style="cursor:pointer;" ng-click="goTo('assets.market')" active="tabs[0].active">
        <tab-heading style="cursor:pointer;">{{'assets.market.title' | translate }}</tab-heading>
        <div ui-view="market-assets"></div>
      </tab>

      <tab style="cursor:pointer;" ng-click="goTo('assets.user')" active="tabs[1].active">
        <tab-heading style="cursor:pointer;">{{ 'assets.user.title' | translate }}</tab-heading>
        <div ui-view="user-assets"></div>
      </tab>
  </tabset>
</div>
