<div ng-if="noOrderbook" class="col-md-12">
  <div class="alert alert-info" role="alert">{{ 'asset.alert3' | translate }}</div>
</div>

<div class="col-md-12 col-md-offset-0 assets">
  <tabset>
      <tab style="cursor:pointer;" ng-click="goTo('asset.orderbook')" active="tabs[0].active">
        <tab-heading style="cursor:pointer;">{{'asset.orderbook' | translate }}</tab-heading>
        <div ui-view="asset-orderbook"></div>
      </tab>

      <tab style="cursor:pointer;" ng-click="goTo('asset.info')" active="tabs[1].active">
        <tab-heading style="cursor:pointer;">{{ 'asset.assetInfo.title' | translate }}</tab-heading>
        <div ui-view="asset-info"></div>
      </tab>
  </tabset>
</div>
