<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="modalTitle">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">{{ modalTitle }}</h4>
			</div>
			<div class="modal-body">
				<p>{{ modalBody }}</p>
				<br/>
				<button style="border-color:rgba(226, 226, 226, 0);" type="button" class="btn btn-default" placement="top" ng-model="$root.currentAPI" data-html="1" ng-options="unit.name as unit.label for unit in apis" bs-select>
				Action <span class="caret"></span>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">{{ modalClose }}</button>
			</div>
		</div>
	</div>
</div>